
.reveal table {margin-left:auto;
               margin-right:auto;
               width: 100%;
}

.reveal table th, .reveal table td {text-align:center}

fieldset {
  border-radius: 15px;
  border: 1px solid black;
  padding: 1em;
  width: 100%;

  background : white;
  color: black;
}

legend {
  border-radius: 15px;
  padding: 0.75em;
  border: 1px solid black;
  color: black;
  font-size: 120%;
  text-align: center;
  width: auto;

  color: white;
  background : black;
}

fieldset.definition {
  background: #dff0d8;
  color: #0E642E;
}

legend.definition {
  background: #0E642E;
}

fieldset.theorem {
  background: #bae3fc;
  color: #013f7c;
}

legend.theorem {
  background: #013f7c;
}

.div highlight {
  color: #09bb5a;
  font-weight: bold;
}

/* an example to illustrate how to tweak font sizes */
body.rise-enabled div.inner_cell>div.input_area {
    font-size: 150%;
}

body.rise-enabled div.output_subarea.output_text.output_result {
    font-size: 150%;
}

body.rise-enabled div.output_subarea.output_text.output_stream.output_stdout {
  font-size: 150%;
}

body.rise-enabled .reveal .slide-number {
    font-size: 24pt;
    /* Might need to manually change margin, because there is no easy automatic way to do it without the full API access... */
    bottom: 1em;
    right: 1em;
}

/* to apply a setting only when under RISE,
   be aware that the <body> tag has class .rise-enabled */
/*
body.rise-enabled div.inner_cell>div.input_area {
    font-size: 150%;
}
*/

